<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.sso.server.web.sso.mapper.UserInfoMapper">

    <resultMap id="userInfoResultMap" type="UserInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="username"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="selectUserInfo" resultMap="userInfoResultMap">
        select id,
               user_id,
               user_name,
               phone,
               email,
               password,
               status
        from sso_user
        where user_id = #{userId};
    </select>
</mapper>