<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}">
    <script type="application/javascript" th:src="@{/static/js/jQuery.js}"></script>
    <script type="application/javascript" th:src="@{/static/js/login.js}"></script>
</head>
<body>
<div>
    <div class="center">
        <div class="center-left">
            <div class="login-title">
                <p>登录</p>
            </div>
            <div class="login-img"></div>
        </div>
        <div>
            <form class="login-form" th:action="@{/login}" th:object="${loginParam}" method="post">
                <ul>
                    <li>
                        <label>
                            <input id="username" name="username" type="text" th:field="*{username}" placeholder="用户名/账号/邮箱">
                        </label>
                    </li>
                    <li>
                        <label>
                            <input id="password" name="password" type="password" th:field="*{password}" placeholder="密码">
                        </label>
                    </li>
                    <li>
                        <input id="originUrl" name="originUrl" hidden th:field="*{originUrl}" placeholder="请输入密码"/>
                    </li>
                    <li>
                        <button type="submit">登录</button>
                    </li>
                    <li>
                        <p th:if="*{msg}" th:text="*{msg}" style="color: red;"></p>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
</body>
</html>
