<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}">
    <script type="application/javascript" th:src="@{/static/js/jQuery.js}"></script>
    <script type="application/javascript" th:src="@{/static/js/login.js}"></script>
</head>
<body>
<div>
   <!-- <div class="center">
        <div class="center-left">
            <div class="login-title">
                <p>登录</p>
            </div>
            <div class="login-img"></div>
        </div>
        <div>
            <form class="login-form" th:action="@{/login}" th:object="${loginParam}" method="post">
                <ul>
                    <li>
                        <label>
                            <input id="username" name="username" type="text" th:field="*{username}" placeholder="用户名/账号/邮箱">
                        </label>
                    </li>
                    <li>
                        <label>
                            <input id="password" name="password" type="password" th:field="*{password}" placeholder="密码">
                        </label>
                    </li>
                    <li>
                        <input id="originUrl" name="originUrl" hidden th:field="*{originUrl}" placeholder="请输入密码"/>
                    </li>
                    <li>
                        <button type="submit">登录</button>
                    </li>
                    <li>
                        <p th:if="*{msg}" th:text="*{msg}" style="color: red;"></p>
                    </li>
                </ul>
            </form>
        </div>
    </div>-->

    <div class="login-container">
        <div class="login-container-head">
            <div class="login-head-logo">
                <img th:src="@{/static/svg/logo.svg}" width="44" height="44" />
            </div>
            <div class="login-head-title">
                <span th:text="*{app}"></span>
            </div>
        </div>
        <div class="login-container-form">
            <!--<div class="login-type-select">
                <ul>
                    <li>
                        <label for="account">
                            <input
                                    id="account"
                                    checked="checked"
                                    style="display: none"
                                    name="type"
                                    type="radio"
                            /><span>账户密码登录</span></label
                        >
                    </li>
                    <li>
                        <label for="phone"
                        ><input
                                id="phone"
                                style="display: none"
                                name="type"
                                type="radio"
                        /><span>手机号登录</span></label
                        >
                    </li>
                </ul>
            </div>-->
            <form th:action="@{/login}" th:object="${loginParam}" method="post">
                <div id="account-login">
                    <div class="form-account">
                        <img class="input-logo" th:src="@{/static/svg/user.svg}" width="16" height="16" />
                        <input id="username" type="text" th:field="*{username}" placeholder="用输入用户名" onfocus="inputOnFocus(this)" onblur="inputOnblur(this)"/>
                    </div>
                    <div class="form-pwd">
                        <img class="input-logo" th:src="@{/static/svg/password.svg}" width="16" height="16" />
                        <input id="password" type="password" th:field="*{password}" placeholder="用输入密码" onfocus="inputOnFocus(this)" onblur="inputOnblur(this)" />
                    </div>
                </div>

                <div id="phone-login" hidden="hidden">
                    <div class="form-account">
                        <img class="input-logo" th:src="@{/static/svg/phone.svg}" width="16" height="16" />
                        <input id="phoneNumber" type="text" placeholder="用输入手机" onfocus="inputOnFocus(this)" onblur="inputOnblur(this)"/>
                    </div>
                    <div>
                        <div class="form-code">
                            <img class="input-logo" th:src="@{/static/svg/password.svg}" width="16" height="16" />
                            <input id="code" type="text" placeholder="用输入验证码" onfocus="inputOnFocus(this)" onblur="inputOnblur(this)"/>
                        </div>
                        <button>获取验证码</button>
                    </div>
                </div>
                <div style="height: 40px;">
                    <p th:if="*{msg}" th:text="*{msg}" style="color: red;"></p>
                    <input id="originUrl" name="originUrl" hidden th:field="*{originUrl}" placeholder="请输入密码"/>
                </div>
                <div class="form-submit">
                    <label>
                        <button type="submit">登录</button>
                    </label>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
