<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cy.server.web.sys.mapper.UserMapper">

    <resultMap id="customerInfoResultMap" type="User">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="username"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="status" property="status"/>
        <result column="password" property="password"/>
    </resultMap>

    <select id="selectUserList" parameterType="User" resultMap="customerInfoResultMap">
        select id,
        user_id,
        user_name,
        phone,
        email,
        password,
        status
        from sso_user
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="username != null and username != ''">and username like concat('%', #{username}, '%')</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="email != null and email != ''">and email = #{email}</if>
            <if test="status != null">and status = #{status}</if>
        </where>
    </select>
    <select id="selectUserPasswordByUserId" resultType="java.lang.String">
        select password from sso_user where user_id = #{userId};
    </select>

    <insert id="insertUser" parameterType="User">
        insert into sso_user(user_id, user_name, phone, email, password, status, create_by, create_time)
            value (#{userId},
                   #{username},
                   #{phone},
                   #{email},
                   #{password},
                   #{status},
                   #{createdBy},
                   sysdate())
    </insert>

    <update id="updateStatusByUserId" parameterType="map">
        update sso_user
        set status = #{status}
        where user_id = #{userId};
    </update>

    <update id="resetPassword" parameterType="map">
        update sso_user
        set password = #{password}
        where user_id = #{userId};
    </update>

    <update id="updateUser">
        update sso_user
        <trim prefix="set" suffixOverrides=",">
            <if test="username != null and username != ''">user_name = #{username},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updatedBy != null">update_by = #{updatedBy},</if>
            update_time = sysdate()
        </trim>
        where
        <trim prefixOverrides="and">
            <if test="id != null">and id = #{id}</if>
            <if test="userId != null">and user_id = #{userId}</if>
        </trim>
    </update>
</mapper>